{% extends 'store/main.html' %}
{% load static %}
{% load widget_tweaks %}

<head>
  <title>{% block title %}Logout{% endblock title %}</title>
  </head>
{% block content %}
  <body>
    
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center">Logged Out Successfully. <br> Thank you for using our system!</h2>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>


  </body>
  {% endblock content %}
